<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>鲸彩世界DSHD</string>
  <key>CFBundleDisplayName</key>
  <string>鲸彩世界DSHD</string>
  <key>CFBundleIdentifier</key>
  <string>com.weichiai.dshd</string>
  <key>CFBundleVersion</key>
  <string>@@VERSION@@</string>
  <key>CFBundleShortVersionString</key>
  <string>@@VERSION@@</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleExecutable</key>
  <string>DSHD</string>
  <key>CFBundleIconFile</key>
  <string>app.icns</string>
  <key>LSMinimumSystemVersion</key>
  <string>13.5</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.developer-tools</string>
  <key>NSAppTransportSecurity</key>
  <dict>
    <key>NSAllowsLocalNetworking</key>
    <true/>
  </dict>
</dict>
</plist>
